<div class="hero-unit">
  <div class="hero-reg">
  <h1>Voter Registration</h1>
  <h2>Register to Vote in your state!</h2>
  <%= form_tag("", :method => "GET", :class => "form-inline") do %>
    <%= label_tag 'Select a state' %>
    <%= select_tag("state", options_for_select(Guidelines.all.collect {|s| [ s.name, s.state ] })) %>
    <%= submit_tag 'Go', :class=> "btn btn-primary" %>
  <% end %>
  </div>
 <div class="hero-logo">
    <img src="/images/election2012.png" alt="Election 2012 logo" class="election" width="430" />
  </div>
</div>
<div class="row">
  <div class="span12 section-header">
    <h1>About</h1>
  </div>
</div>
<div class="row">
  <div class="span4 box smallbox">
    <h2>Vote</h2>
    <p>PahVote’s goal is to empower Deaf and Hard of Hearing Americans to
       become a part of our nation’s political processes.<br> <br> We hope to achieve this 
       by simplifying the process of becoming a voter, while also offering 
       explanations in American Sign Language for concepts related to voting. 
       </p>
  </div>
  <div class="span4 box smallbox">
    <h2>How It Works</h2>
    <ol>
      <li>Choose a state</li>
      <li>Read the guidelines for the state</li>
      <li>Fill out the form</li>
      <li>Download your voter registration form</li>
      <li>Add a stamp and mail in your form</li>
    </ol>
  </div>
  <div class="span4 box smallbox">
    <h2>State Guidelines</h2>
    <p>Make sure you checkout the <%= link_to 'guidelines', guidelines_path %> for your state</p>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="span12 section-header">
  <h1>PahVote in ASL!</h1>
  </div>
  <div class="span12 box" align="center">
    <iframe width="903" height="530" src="http://www.youtube.com/embed/4r7wHMg5Yjg" frameborder="0" align="center" allowfullscreen></iframe>
  </div>
</div>

